<%= form_tag search_path, method: :get, class: "search" do %>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= text_field_tag "q", params[:q], placeholder: "アイテムを探す", class: "form-control" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "探す", class: "btn btn-normal btn-block" %>
    </div>
  </div>
<% end %>

<br><hr><br>

<div class="row">
  <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
</div>